@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>MStarSupply Supply Chain</title>

    <link rel="stylesheet" href="~/css/bootstrap.css"/>

</head>
<body class="bg-secondary">

    <div class="row mt-5">
        <div class="col-md-4 offset-4">
            <div class="card">

                @RenderBody()
            </div>
            <div class="mt-3 text-white text-center">
                MStarSupply sistema de Supply Chain v1.0
            </div>
        </div>

    </div>


    <script src="~/js/bootstrap.js"></script>
</body>
</html>
